.container {
  padding: 40px;
}
.logs{
  border: 1px solid gray;
  width: 100%;
  min-height: 400px;
  user-select: none;
}
.file{
  margin-right: 10px;
}
.progress{
  -webkit-appearance: none;
  width: 200px;
  height: 10px;
  margin-right: 10px;
  
}
.progress::-webkit-progress-bar {
  background-color: var(--disabled-bg-color);
  border-radius: 2px;
}
.progress::-webkit-progress-value {
  background-color: var(--dark-color);
  border-radius: 2px;
}
.progress::-moz-progress-bar {
  background-color: var(--light-color);
  border-radius: 2px;
}
.notFound{
  
}
.notFound > tr > td {
  padding-right: 10px;
  color:red !important;
}
.notFound > tr > th {
  text-align: left !important;
}